* {
    margin: 0;
    padding: 0;
}

.container {
    width: 60vw;
    height: 80vh;
    background-color: aquamarine;
    border-radius: 15px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-around;
}

.graphic img {
    width: 300px;
}